<div class="container">

  <h1>Seleção de Itens</h1>

  <div *ngIf="erroCarregamento" class="mensagem-erro">
    {{ erroCarregamento }}
  </div>

  <div class="grid">

    <div *ngFor="let pesquisa of pesquisasList; trackBy: trackByPesquisa" class="card">
      <h3>Pesquisa: {{ pesquisa.nome }}</h3>
      <ul *ngIf="pesquisa.produtos && pesquisa.produtos.length > 0; else semProdutos">
        <li *ngFor="let produto of pesquisa.produtos; trackBy: trackByProduto">
          <span>{{ produto.nome }}</span>
          <input type="checkbox">
        </li>
      </ul>
      <ng-template #semProdutos>
        <div class="vazio">Nenhum produto cadastrado</div>
      </ng-template>
    </div>

    <ng-container>
      <div *ngIf="carregandoPesquisas" class="card-vazio">
        <p>Carregando pesquisas...</p>
      </div>
      <div *ngIf="!carregandoPesquisas && pesquisasList.length === 0" class="card-vazio">
        <p>Nenhuma pesquisa cadastrada</p>
      </div>
    </ng-container>
  </div>

  <div class="botoes">
    <button class="btn vermelho" (click)="voltar()">Voltar</button>
    <button class="btn verde" (click)="avancar()">Próximo</button>
  </div>

</div>